/* CSS Document */

/* Main background css */
body{
	margin:0;
	padding:0;
	background: #FFF url(../images/repeatWrapperBg.jpg) repeat-x;
}

/* This is a container that holds just logo and menu */
#containerHeader{
	margin:auto;
	width:1000px;
	height:39px;
	min-width:1000px;
}

/* Centered bit of header */
#headerBar{
	background: #2d2d2d;
	width:100%;
	height:40px;
	border-bottom:1px #bcbcbc solid;
	position:relative;
	z-index:1;
	min-width:1000px;
}

/* Logo image displayed  */
#logo{
	margin-top:8px;
	float:left;
}

/* Container to hold the menu */
#menuBox{
	width:270px;
	height:30px;
	float:right;
	margin-top: 5px;
	padding-top:4px;
}

/* Green background strip / holds container */
#centerLaneBg{
	background: url(../images/bgClicker.png) repeat-x;
	width:100%;
	height:318px;
	padding-top:30px;
	border-bottom: 3px #43392b solid;
	min-width:1000px;
}

/* Centered Half Screen Structure */
#container{
	margin:auto;
	width:1000px;
	height:340px;
}

/* Box containing the click animation */
#animationBox{
	background:#646a44;
	width:99.6%;
	height: 311px;
	border:5px #3e5022 solid;
	position:relative;
	z-index:1;
	border-bottom:5px #4d4d4d solid;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

/* Statistics box containing the structure */
#animationSideTextBox{
	background: #646a44;
	width:29%;
	height:278px;
	float:right;
	color:#FFF;
	position:relative;
	z-index:2;
	margin-top:38px;
}

/* Individual boxes containing the text */
.SideTextBoxSub{
	background:#7a853e;
	width:90%;
	margin:auto;
	margin-top:5px;
	color:#FFF;
	padding:5px;
	font-weight:bold;
	border:1px #4b541b solid;
	font-family:arial;
	font-size:14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a:link    {color:#c8c8c8; font-weight:bold; text-decoration:none;}
a:visited {color:#c8c8c8;font-weight:bold;text-decoration:none;}
a:hover   {color:#c8c8c8;font-weight:bold;text-decoration:none;}
a:active  {color:#c8c8c8;font-weight:bold;text-decoration:none;}

/* Lane Structure under the click image / breadcrumb reserved */
#breadCrumb{
	width:100%;
	height:30px;
	background:#34312e;
	border-bottom:3px #4d4d4d solid;	
}
/* Padding and Text Adjusted for breadcrumb */
.breadCrumbText{
	color:#fff;	
	padding-top:6px;
	padding-left:8px;
	font-weight:bold;
	font-family:Arial;
	font-size:16px;
}

/* Container for holding boxes */
#bottomWrapper{
	width:100%;
	height:auto;
	background:#333333;
	border-left:3px #4d4d4d solid;
	border-right:3px #4d4d4d solid;
	border-bottom:3px #4d4d4d solid;
	padding-top:10px;
	clear:both;
}

/* Boxes for home page at lower section */
.rhinoText{
	padding: 5px;
}

.bottomBox{
	padding:8px;
	background:#fff;
	width:auto;
	height:auto;
	margin:10px;
	border:2px solid #000;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	clear:both;
}

.bottomBox img{
	float:right;	
}

/* Text features for one of the boxes in bottomWrapper */
.bottomBoxText{
	font-size:14px;
	font-family:Arial;
	width:700px;
	height:90px;
	margin-top:25px;
	margin-left:20px;
	position:relative;
}

.bottomBox form{
	margin:auto;
	width:300px;
	height:230px;
	font-size:16px;
	font-weight:bold;
	font-family:Arial;
	border:3px #000 solid;
	background:#887;
}

/* just padding class */
.imagePadding{
	padding-top:25px;
	padding-left:5px;
	float:left;
}

/* Footer Bit holding copyright etc */
#footer{
	background:#666;
	width:100%;
	height:70px;	
	border-left:3px #4d4d4d solid;
	border-right:3px #4d4d4d solid;
	border-bottom:3px #4d4d4d solid;
	clear:both;
	
}
/* Text on the footer  */
#footerText{
	padding-top:18px;
	padding-right:20px;
	float:right;
	font-weight:900;
	font-family:Arial;
	font-size:13px;
	width:320px;
}
/* advert box in the footer  */
#footerAdvert{
	margin-top:1px;
	margin-left:5px;
	float:left;
}

/* Donate Container */
#informationBox{
	border-left:3px #4d4d4d solid;
	border-right:3px #4d4d4d solid;
	border-bottom:3px #4d4d4d solid;	
	width:100%;
	height:230px;
	background:#cacaca;
}

/* Main site text bullet points */
#informationBoxText{
	float:right;
	width:275px;
	height:230px;
	padding-right:10px;
}
/* blue donation box */
#donationBox{
	border-right:5px #4d4d4d solid;
	border-bottom:3px #4d4d4d solid;	
	width:28%;
	height:279px;
	background:#646a44 url(../images/donateBg.png) repeat-x;
}
/* the text within the donation box */
.donationText{
	color:#fff;
	font-family:Arial;
	font-size:12px;
	padding-top:5px;
	padding-left:10px;
	font-weight:bold;
}

/* just the button  */
#donateButton{
	width:125px;
	height:48px;
	margin:auto;
	margin-top:20px;
}
/* bullet points container */
.bulletContainer{
	width:650px;
	height:200px;
	padding-top:10px;
	padding-left:10px;
	float:left;	
	font-size:16px;
	font-family:Arial;
	
}

#informationBoxText p{
	color:#FFF;
	font-weight:bold;
	font-family:arial;
	font-size:12px;
	border:1px solid #434343;
	background:#838383;
	padding:3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#informationBoxText h1{
	color:#000;
	font-weight:bold;
	font-family:arial;
	font-size:14px;
}

form{
	width:250px;
	height:130px;
	padding:10px;
	margin:auto;
}


/* ------------------------------- */
/* --------------MENU------------- */
/* ------------------------------- */
/* Need to fix it with nav tags */
.menu a
{
   text-decoration : none;
}

.menu ul li span, /* span is used to identify drop-down title */
.menu a
{
   display          : block;      /* Expand hyperlink to fill container*/
   color            : #FFF;   
   font-weight:bold;
   font-family:Arial;
   font-size:14px; 
   padding:2px;
   margin-left:1px;
   border: 1px #999999 solid;
   
}

.menu ul li:hover span,
.menu a:hover,
.menu a:active
{
   background-color : #676767;
   color            : #FFF;
   font-weight:bold;
   border: 1px #999999 solid;
}

.menu ul
{
   list-style : none;  /* Remove the bullet from list items */
   padding    : 0px;   /* Remove default padding from list items */
   margin     : 0px;
}

.menu li
{
   width      : 90px;     /* width for each list item. Not absolutely necessary for horizontal menus. */
   text-align : center;  /* Not needed for either menu. */
}

.menu.horizontal li
{
   display : inline-block;  /* Force list items onto same line. */
   float   : left;            /* Force list items tight together. */
}

.menu.vertical li
{
   display : block;   /* Force list items onto seperate lines. */
}


/* ------------------------------- */
/* --Additional Font Adjustments-- */
/* ------------------------------- */

.titleClass{
	padding:12px;
	font-weight:bold;
	font-family:Arial;
}
.floatRight{
	float:right;
}